<div id="valid">
<h3>Votre inscription à bien été pris en compte :</h3><!-- A ecrire en premier --> 

<p>
Votre Nom est : <span class="maj"><%=params[:nom]%><br></span>
Votre Prénom est : <span class="maj"><%=params[:prenom]%><br></span>
Votre Adresse est : <%=params[:adresse]%>, <%=params[:cp]%> <span class="maj"><%=params[:ville]%></span><br>
Vôtre Pays : <span class="country"><%=params[:pays]%></span><br><br><!-- A ecrire en premier --> 
Merci de vôtre confiance !<br><br>
</p> 
<p>
	<a class="btn btn-lg btn-primary" href="./" role="button">Revenir a l'accueil</a>
   	<a class="btn btn-lg btn-primary" href="./liste_inscription" role="button">Voir les autres inscrits</a>
</p>
</div>
		